/*  SETTINGS  */

	*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*  GLOBAL  */

	html, body { margin: 0; padding: 0; color: #666; background: #fff; font-size: 14px; font-family: Arial, Helvetica, sans-serif; line-height: 1.4em; -webkit-text-size-adjust: none; }
	input, select, textarea { font-size: 95%; font-family: Arial, Helvetica, sans-serif; }
	a { color: #009aef; text-decoration: none; }
	.clear { width: 100%; height: 0px; clear: both; display: block; }
	.align-right { float: right; }
	.text-center { text-align: center; }


/*  LOCALE  */

	.locale { padding: 5px 16px; text-align: right; background: #f0f0f0; border-bottom: 1px solid #e6e6e6; color: #ddd; }
	[dir='rtl'] .locale { text-align: left; }
	.locale a { font-size: 12px; color: #f7a11a; }
	.locale .active {
		color: #999;
	}
	.locale-change {
        position: relative;
        top: -3px;
        font-weight: bold;
    }


/*  HEADER  */

	#header { padding: 10px 16px 8px 16px; text-align: center; border: 0; }
		#header img { height: 28px; display: inline-block; margin: 0 auto }


/*  NAV  */

	#nav { padding: 10px 16px; background: #f7a11a; font-size: 14px; font-weight: bold; color: #ffc20f; text-align: left; }
	[dir='rtl'] #nav { padding: 10px 16px; background: #f7a11a; font-size: 14px; font-weight: bold; color: #ffc20f; text-align: right; }
		#nav a { color: #fff; }

/*  BANNER  */

	#banner { padding: 10px 16px; font-size: 20px; color: #666666; line-height: 26px; font-weight: bold; }
		#banner a { color: #666666; }
		#banner img { width: 100%; display: block; }


/*  CONTENT  */

	#content {}
		#content .h1 { padding: 6px 16px; background: #f7a11a; border: 0; font-size: 19px; font-weight: normal; color: #fff; vertical-align: middle; line-height: 22px }
		#content .h1 a { display: block; color: #fff; }
		#content .h2 { padding: 12px 16px; border-bottom: 1px solid #e6e6e6; font-size: 20px; font-weight: normal; vertical-align: middle; line-height: 22px }

		#content .item { padding: 14px 16px; margin: 0; border: 0; border-bottom: 1px solid #e6e6e6; }
		#content .item a { font-size: 17px; color: #666; line-height: 22px; }
		#content .item span a { font-size: 12px; text-transform: uppercase; line-height: 12px; }
		#content .item .date { font-size: 11px; font-style: italic; color: #ccc!important; }
		#content .item img { float: left; margin: 4px 10px 5px 0; }
		[dir='rtl'] #content .item img { float: right; margin: 4px 0px 5px 10px; }

		#content .pagi { padding: 10px 16px; font-weight: bold; }
		#content .pagi a { color: #f7a11a; }
		#content .pagi .right { float: right; }

		#content .detail { padding: 14px 16px; border-top: 1px solid #e6e6e6; border-bottom: 1px solid #e6e6e6; font-size: 16px; line-height: 22px; }
		#content .detail .category { padding: 10px 0 0 0; font-size: 12px; text-transform: uppercase; line-height: 14px; font-weight: bold; }
		#content .detail .h3 { padding: 10px 0 5px 0; font-size: 20px; font-weight: normal; vertical-align: middle; line-height: 22px; font-weight: bold; }
		#content .detail .date { padding: 0 0 10px 0; font-size: 12px; color: #ccc!important; text-transform: uppercase; }
		#content .detail a { color: #f7a11a; }
		#content .detail img { width: 100%; margin: 16px 0 0 0; }

		#content .category-recommended .h1 { background: #ff6600; }
		#content .category-recommended .item div { color: #9f9f9f; }

		#content .category-pregnancy .h1 { background: #00b0ca; }
		#content .category-pregnancy .pagi a,
		#content span.category-pregnancy a { color: #00b0ca!important; }

		#content .category-baby .h1 { background: #69be28; }
		#content .category-baby .pagi a,
		#content span.category-baby a { color: #69be28!important; }

		#content .category-mama-to-mama .h1 { background: #d81f29; }
		#content .category-mama-to-mama .pagi a,
		#content span.category-mama-to-mama a { color: #d81f29!important; }

/* SEARCH */
	.search-results { padding: 14px 16px; margin: 0; border: 0; border-bottom: 1px solid #e6e6e6;}

	.form-search input {border: 0;}
	.form-search #q {padding: 5px;}
	.form-search {padding:10px 10px; background-color: #f7a11a; margin:0;}
/*  MENU  */

	#menu { padding: 10px 16px; background: #f7a11a; color: #ffc20f; text-align: left; font-weight: bold; }
	[dir='rtl'] #menu { padding: 10px 16px; background: #f7a11a; color: #ffc20f; text-align: right; font-weight: bold; }
		#menu a, #menu span { color: #fff; }

/*  FOOTER  */

	#footer { padding: 10px 16px; color: #000; }


/* PREVIEW: Mobile "preview" for large screens */

	@media screen and (min-width: 1024px) {
		html {
			background-color: #333;
		}
		body {
		    max-width: 320px;
		    margin: 0 auto;
		}
	}
